:root {
  --color-accent: oklch(0.78 0.2074 129.54);
  accent-color: var(--color-accent);
}

*, *::before, *::after {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root { color-scheme: dark;
}
}

@media (prefers-color-scheme: light) {
  :root { color-scheme: light;
}
}

html[data-theme="light"] {
  color-scheme: light;
}

html[data-theme="dark"] {
  color-scheme: dark;
}

.page-wrapper {
  max-width: 110ch;
  margin: auto auto;
  padding-left: 3.75em;
  padding-right: 3.75em;
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  min-height: 100vh;
}

body {
  padding: 3.5em;
  font: 100%/1.5 system-ui;
}

label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  margin-top: 0.5em;
}

nav ul, nav li {
  display: contents;
}

nav a {
  flex: 1;
  text-decoration: none;
  text-align: center;
  color: inherit;
  padding: 0.5em;
  margin-bottom: 0.5ch;
  
  &:hover {
    border-bottom-width: 0.3em;
    border-bottom-style: solid;
    border-bottom-color: var(--color-accent);
    margin-bottom: 0.0em;
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  }
}

.current {
  border-bottom-width: 0.3em;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
  margin-bottom: 0.0em;
  font-weight: bold;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  display: grid;
  grid-column: 1 / -1;
  align-items: center;
}

form input,
form textarea,
label select {
  font: inherit;
}

form button {
  grid-column: 1 / -1;
  font: inherit;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-template-rows: auto 1fr;
  gap: 1em;
}

.projects img {
  max-width: 100%;
  height: auto;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.projects article h2 {
  margin: 0;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 175%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.cover_img {
  display: flex;
  justify-content: center;
}

.dog {
  height: auto; 
  max-width: 100%;
  padding: 3.05em;
}

.main-header {
  font-size: large;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.15em;
}

.header time,
.header .date-range {
  display: flex;
  gap: 0.15em;
  font-weight: bold;
  align-items: center;
}

section {
  margin-block: 1.75em;
  padding: 0.5em;
}

article {
  margin-block: 1.3em;
  padding: 0.15em;
}

.code {
  font-family: 'Courier New', Courier, monospace;
}

dl {
  display: grid;
  grid-template-rows: auto 1fr;

  dt {
    grid-row: 1;
    font-weight: light;
  }

  dd {
    grid-row: 2;
    text-align: start;
    margin-left: 0;
    font-size: 150%;
  }
}

header h2 {
  margin-block-start: 3.55em;
  margin-block-end: 1.45em;
}